body {
    margin: 0;
    background-color: #e7e6f1;
    font-family: "Proxima Nova",-apple-system,Roboto,Arial,sans-serif,sans-serif;
    padding-top: 100px;
}

.top-header {
    background-color: #06022b;
    align-items: center;
    display: flex;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.logo {
    flex: 1.2;
    padding: 10px 0px 10px 50px;
}

.logo img {
    width: 200px;
    cursor: pointer;
}

.search-bar {
    display: flex;
    flex: 2;
}

.search-bar input {
    width: 70%;
    padding: 10px;
    border: 2px solid transparent;
    outline: none;
    border-radius: 10px 0 0 10px;
    background-color: #F4F3F2;
    transition: border-color 0.3s;

}

.search-bar input:hover, 
.search-bar input:focus {
    border-color: #127dff;
}

.search-bar button {
    padding: 10px 18px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 0 10px 10px 0;
    background-color: #127dff;
    transition: 0.2s, transform 0.4s;
}

.search-bar button:hover {
    background-color: #005dcf;
    transform: scale(1.04);
}

.icons {
    display: flex;
    gap: 30px;
    flex: 1;
    justify-content: flex-end;
    padding-right: 50px;
    color: #127dff;
}

.icons span {
    color: #06022b;
}

.login-button {
    background-color: #F4F3F2;
    border-radius: 999px;
    padding: 8px 16px;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    font-size: 16px;
    border: 2px solid transparent;
    transition: border-color 0.3s, transform 0.4s;
}

.login-button:hover {
    transform: scale(1.04);
    border-color: #127dff;
}

.configuration-button {
    background-color: #F4F3F2;
    border-radius: 999px;
    padding: 8px 16px;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    font-size: 16px;
    border: 2px solid transparent;
    transition: border-color 0.3s, transform 0.4s;
}

.configuration-button:hover {
    transform: scale(1.04);
    border-color: #127dff;
}

.navbar {
    background-color: #F4F3F2;
}

.navbar ul{
    list-style: none;
    margin: 0;
    padding: 16px;
    display: flex;
    gap: 60px;
    justify-content: center;
}

.navbar a {
    text-decoration: none;
    color: #06022b;
    font-size: 18px;
    letter-spacing: 0.5px;
}

.navbar a:hover {
    color: #127dff;
}

.carousel {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.slides {
    display: flex;
    transition: transform 0.5s ease;
}

.slide {
    min-width: 100%;
    height: 432px;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #F4F3F2;
    border-radius: 999px;
    padding: 14px 19px;
    cursor: pointer;
    border: 2px solid transparent;
    outline: none;
    transition: 0.3s;
}

.prev:hover, .next:hover {
    transform: translateY(-50%) scale(1.04);
    border-color: #127dff;
}

.prev i, .next i {
    font-size: 30px;
    color: #06022b;
    transition: 0.3s;
}

.prev:hover i, .next:hover i {
    color: #127dff;
}

.prev {
    left: 20px;
}

.next {
    right: 20px;
}

.recomendaciones {
    width: 90%;
    background-color: #F4F3F2;
    margin: 30px auto;
    border: 1.4px solid #d3d3d3;
    border-radius: 8px;
    padding: 15px 20px;
}

.recomendaciones h2 {
    margin-bottom: 30px;
    letter-spacing: 0.5px;
}

.productos {
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(3, 1fr); 
}

.tarjeta-producto {
padding: 20px;
background-color: #F4F3F2;
border: 2px solid transparent;
border-radius: 10px;
text-align: center;
transition: 0.3s;
}

.tarjeta-producto:hover {
    border-color: #127dff;
}

.recomendaciones-off {
    width: 90%;
    background-color: #F4F3F2;
    margin: 30px auto;
    border: 1.4px solid #d3d3d3;
    border-radius: 8px;
    padding: 15px 20px;
}

.recomendaciones-off h2 {
    margin-bottom: 30px;
    letter-spacing: 0.5px;
}

.contenido-footer {
    width: 100%;
    padding: 20px 0;
    background-color: #06022b;
    margin: 0;
    color: #F4F3F2;
    display: flex;
    align-items: center;
}

.derechos {
    margin: 0;
    flex: 1;
    justify-content: center;
    display: flex;
}

.redes-sociales {
    flex: 1.5;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.links-legales {
    flex: 1;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.links-legales a {
    text-decoration: none; 
    color: inherit;
}

.redes-sociales i {
    font-size: 40px;
}

.redes-sociales i:hover {
    color: #127dff;
    transition: 0.3s;
    cursor: pointer;
}

.redes-sociales a:visited {
    color: #F4F3F2;
}

.contenedor-contacto,
.contenedor-ubicacion {
    width: 90%;
    background-color: #F4F3F2;
    margin: 30px auto;
    border: 1.4px solid #d3d3d3;
    border-radius: 8px;
    padding: 15px 20px;
}

.contenido-contacto,
.contenido-ubicacion {
    width: 100%;
    display: flex;
    gap: 50px;    
}

.titulo-contacto h2,
.titulo-ubicacion h2 {
    margin: 0;
    letter-spacing: 0.5px;
    padding-bottom: 20px;
}

.info {
    flex: 0.8;
}

.info p {
    margin: 0;
}

.formulario {
    flex: 2.2;
    width: 100%;
}

.form-intermedio {
    width: 100%;
    display: flex;
    gap: 40px;
}

.form-intermedio .campo {
    flex: 1;
}

.datos {
    box-sizing: border-box;
    flex: 1;
}

.campo {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
    width: 100%;
}

.campo label {
    color: #06022b;
    margin-bottom: 8px;
}

.campo input{
    padding: 6px 40px 6px 4px;
    width: 100%;
    border-radius: 999px;
    border: 2px solid #06022b;
    box-sizing: border-box;
}

.campo input:hover, 
.campo input:focus {
    border: #127dff 2px solid;
    outline: none;
    transition: 0.3s;
}

.campo textarea {
    width: 100%;
    height: 100%;
    resize: none;
    border-radius: 10px;
    border: 2px solid #06022b;
    box-sizing: border-box;
}

.campo textarea:hover, 
.campo textarea:focus {
    border: #127dff 2px solid;
    outline: none;
    transition: 0.3s;
}

.boton-enviar {
    width: 100%;
    height: 40px;
}

.boton-enviar button {
    width: 100%;
    height: 100%;
    border-radius: 999px;
    border: 2px solid #06022b;
    background-color: #127dff;
    color: #06022b;
    font-size: large;
    transition: 0.3s;
}

.boton-enviar button:hover {
    transform: scale(1.03);
    background-color: #005dcf;
}

.dato h3, .dato p {
    margin: 0;
    color: #06022b;
    margin-bottom: 12px;
}

.dato a, .dato a:visited {
    text-decoration: none;
    color: #127dff;
}
